@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chicle&family=Oleo+Script&display=swap');
html,body{
  height: 100vh; 
 /* height: calc(var(--vh, 1vh) * 100);*/
}
body{
    padding:unset;
    margin: unset;
    /*background-image: linear-gradient(to left bottom, #4d2c91, #ab47bc);*/
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
.main-container{
  margin : 0px auto;
  padding:0px 0px;
  width:100%;
  height: 100%;
  scroll-behavior: inherit;
}
/*---------------------------------------header section------------------------------------------------------------------*/

.header-wrapper{
  width: 100vw;
  min-height: 8vh;
  position : fixed;
  Z-index:10;
  display: flex;
  flex-direction:column;
}
.header{
  width: 100%;
  height: 50px;
}
.userbar-wrapper{
  width:100%;
  height: 100%;
  display:inline-block;
}
.userbar{
  height:100%;
}
.userinfo{
  width:100%;
  height: 100%;
  background-color:white;
  padding: 0px 20px;
  display:flex;
  direction:column;
  align-items: center;
  justify-content: flex-end;
}

.username{
  margin: 0px 10px;
  color:#4d2c91;
  font-size: 1.2em;
  font-weight: 400;
}
.userimg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px 10px;
}
.userimg img{
  height: 100%;
  width: 100%;
}
.navbar{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0px 0px;
  background-color: #7e308b;
}
#navbarNav{
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #7e308b;
}
#navbarNav a{
  color : #ffffff;
  font-size:1.5em;
  height: 80%;
  min-width:150px;
  text-align:center;
}
#navbarNav a:hover{
  color : rgb(51, 27, 117);
}
#navbarNav li{
  margin: 5px 10px;
}
#navbarNav li.active{
  color : rgb(255, 255, 255);
  background-color: #ab47bc;
  border-radius:5px;
  border:1px solid black;
  border-left: 2px solid black;
  border-right:2px solid black;
  box-shadow: inset 0px -6px 2px 0px black;
}
#navbarNav li.active:hover{
  background-color: #4d2c91;
}
#navbarNav li.active a{
  color:white;
  font-size:1em;
}
/*--------------------------------------body section---------------------------------*/
.chart{
  position:absolute;
  left: 0px;
  top: 0px;
  margin-top:13vh;
  z-index: 10;
  height: 100%;
  width:0px;
  background-color: #7e308b;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition:0.3s;
  overflow: hidden;
}
.table-container{
  max-height:80%;
  width:100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.table-container .table{
  color:white;
  font-weight: 300;
}
.table-container::-webkit-scrollbar {
  display: none;
}
.buttons-container{
  height:10%;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.buttons-container .btn{
  width:45%;
  height:45px;
  background-color: #4d2c91;
  color: white;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.2em;
}
.buttons-container .btn:hover{
  background-color: #280a63;
}
.chart-button{
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  height: 70px;
  width:70px;
  border-radius:50%;
  color:white;
  background-color: #4d2c91;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.315);
  margin:10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart-button:hover{
  background-color: #280a63;
  cursor:pointer;
}
.body-wrapper{
    position:relative;
    height: 100vh;
    padding-top: 7vh;
  }
  .container{
    height:100%;
    width:100%;
    padding-top: 7vh;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
  }
  .body-wrapper .container .row{
    height: 100%;
    width:100%;
  }
  .collection-details{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
  }
  .collection-list{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
  }
  .thumbnail{
    border:2px solid white;
    height:32rem;
    width:100%;
    margin: 0px auto;
  }
  .thumbnail:hover{
    box-shadow: 0px 0px 4px 3px white;
    border:4px solid white;
  }
  .thumbnail:focus{
    box-shadow: 0px 0px 4px 3px white;
    border:4px solid white;
  }
  #details{
    height:30%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgba(250,205,200,0.4);
    backdrop-filter: saturate(180%) blur(10px);
  }
  @supports(-webkit-backdrop-filter: none) or (backdrop-filter: none){
    #details{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(250,205,200,0.4);
    }
  }
  #details .collection-name{
    height: 30%;
    width:100%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #details .collection-name h2{
    font-size: 2em;
    font-family: 'Bubblegum Sans', 'Chicle', 'Oleo Script';
  }
  #details .collection-description{
    height: 40%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #details .collection-description p{
    text-align: center;
    color:white;
  }
  #details .button-container{
    height: 30%;
    width:100%;
  }
  .button-container{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .button-container .btn{
    width:70%;
    height: 50px;
    color:white;
    font-family: 'Oleo script';
  }
  .bg-ps{
    background-color: #7e308b;
  }
  .bg-ps:hover{
    background-color: #4d2c91;
  }


/*--------------------------------------footer section-------------------------------*/
.footer-wrapper{
    min-height: 30vh;
    width:100%;
    background-color:#4d2c91;
    bottom:0px;
    color:rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .media-section{
    height:25%;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  .media-section .icon{
    height: 50px;
    width:50px;
    border-radius:50%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.315);
    margin:10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fab:hover{
    color:white;
    text-shadow: white;
    cursor:pointer;
  }
  .link-section{
    height:60%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .link-section .page-link{
    background-color: #4e2c9100;
    border: none;
    color:white;
  }
  .page-link a{
    color:white;
    text-decoration: none;
  }
  .page-link ul{
    list-style-type: none;
    padding: 0px 0px;
  }
  .page-link li{
    margin : 5px 0px;
  }
  .copyright-section{
    height:15%;
    width:100%;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #280a63;
  }
  .copyright-section p{
    margin:0px auto;
  }
  @media only screen and (max-width:560px){
    .userinfo{
      justify-content: center;
    }
  }
  @media only screen  and (max-width:780px){
    .container{
      min-width:100%;
      margin:0px auto;
    }
    .collection-details{
      height:70%;
    }
    .collection-list{
      height:30%;
    }
    #details{
      height:50%;
      width:100%;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      background-color: rgba(250,205,200,0.4);
      backdrop-filter: saturate(180%) blur(10px);
    }
    @supports(-webkit-backdrop-filter: none) or (backdrop-filter: none){
      #details{
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(250,205,200,0.4);
      }
    }
    #details .collection-description{
      padding:0px 20px;
    }
    #details .btn{
      width:30%;
    }
  }