@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chicle&family=Oleo+Script&display=swap');
html,body{
  min-height: 100vh; 
 /* height: calc(var(--vh, 1vh) * 100);*/
}
body{
    padding:0px 0px;
    margin: 0px 0px;
    background-image: linear-gradient(to left bottom, #4d2c91, #ab47bc); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::selection{
  color: #fff;
  background: #5372F0;
}
h1{
    font-family: 'Chicle','Poppins', cursive;
    font-weight: 600;
    font-size:2em;
}
h4{
  font-family: 'Oleo Script', cursive;
  font-weight: 600;
}
.main{
    height: 95vh; 
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0px auto;
}
/*.container{
  margin-top:0px;
}*/
.main .signup-wrapper{
    width:100%;
    height: 100%;
    margin: 0px auto;
    background-color: white;
    border-radius:5px;
}
.welcome-wrapper{
    background-image: url("/assets/img/make.jpg");
    background-size: contain;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;

}
.welcome-wrapper .welcome-container{
    height: 100%;
    width: 100%;
    padding :0px 40px;
    background-color: rgba(255,255,255,255,8);
    backdrop-filter: saturate(180%) blur(10px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#280a63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align:center;
}
@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none){
    .welcome-wrapper .welcome-container{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255,255,255,255,0.5);
    }
}
.greeting{
    width:100%;
    margin: 20px 0px;
    font-size:2em;
}
.shop-description{
    width:100%;
    margin: 20px 0px;
    font-size:1.1em;
}
.form-wrapper{
  height:100%;
  width:100%;
  background-color: white;
  color:#4d2c91;
  text-align:center;
  padding:0px 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 /* overflow:scroll;*/
}
.form-wrapper form header{
  margin-bottom:20px;
  padding : 0px 0px;
}
.form-wrapper form header .ts1{
  font-family: 'Chicle','Poppins', cursive;
  font-weight: 600;
  font-size:40px;
}

.form-wrapper header .ts4{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Oleo Script', cursive;
}
.form-wrapper form{
    width:90%;
    height:100%;
}
form .field{
    width: 100%;
    margin-top: 1.2vh;
    margin-bottom: 0.8vh;
    margin-right:0px;
    margin-left:0px;
    height:8vh;
}
form .field.shake{
    animation: shake 0.3s ease-in-out;
}
@keyframes shake {
    0%, 100%{
      margin-left: 0px;
    }
    20%, 80%{
      margin-left: -12px;
    }
    40%, 60%{
      margin-left: 12px;
    }
}
form .field .input-area{
    height: 6vh;
    width: 100%;
    position: relative;
  }
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 40px;
  font-size: 1.3em;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form select{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 40px;
  font-size: 1.3em;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
  margin-bottom:20px;
}
form .field input:focus,
form .field select:focus,
form .field.valid input{
  border-color: #4d2c91;
}
form .field.shake input,
form .field.error input,
form .field.shake select,
form .field.error select{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size:0.8em;
  pointer-events: none;
  transform: translateY(-50%);
}
.field .input-area span{
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 10px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 10px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #4d2c91;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 0.8em;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 1px;
  font-size: 0.4em;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
  font-size: 0.6em;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
  font-size: 0.7em;
}
.form-wrapper a{
  color: #5372F0;
  text-decoration: none;
}
.form-wrapper a:hover{
  text-decoration: underline;
  color: #173dd3;
}
form input[type="submit"]{
  height: 50px;
  margin: 10px 0px;
  color: #fff;
  padding: 0;
  border: none;
  background: #ab47bc;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: #4d2c91;
}
/*-------------------------------------------------*/
.login-container{
  background-color: white;
  border-radius: 5px;
  width:560px;
  min-height: 60vh;
  /*height: calc(var(--vh, 1vh) * 60);*/
}
.login-container .form-wrapper{
  width:90%;
  height:100%;
}
.login-container .form-wrapper .field{
  width:90%;
  height:50px;
}
.login-container .form-wrapper .ts1{
  margin-bottom:20px;
  font-size:40px;
  font-family: 'Bubblegum Sans', 'Poppins', 'Oleo Script', 'chicle', cursive;
}
.login-container .form-wrapper form input[type="submit"]{
  height: 50px;
  width: 100%;
  margin: 10px 0px;
  color: #fff;
  border: none;
  background: #ab47bc;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
